<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@calvin.humber.ca:1521:grok</property>
        <property name="hibernate.connection.username">n01659223</property>
        <property name="hibernate.connection.password">oracle</property>

        <!-- JDBC connection pool settings -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>

        <!-- Mappings -->
        <mapping class="com.aviato.Types.Customer"/>
        <mapping class="com.aviato.Types.Employee"/>
        <mapping class="com.aviato.Types.Service"/>
        <mapping class="com.aviato.Types.Vehicle"/>
        <mapping class="com.aviato.Types.Item"/>
        <mapping class="com.aviato.Types.Appointment"/>
        <mapping class="com.aviato.Types.Payment"/>
        <mapping class="com.aviato.Types.Role"/>
        <mapping class="com.aviato.Types.User"/>
        <mapping class="com.aviato.Types.Invoice"/>
        <mapping class="com.aviato.Types.ServiceItem"/>
    </session-factory>
</hibernate-configuration>