
.login-section {
    -fx-padding: 20;
    -fx-background-color: #F5FEFD;
    -fx-border-radius: 10;
    -fx-spacing: 15;
}

.welcome-text {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.input-field {
    -fx-min-width: 250;
    -fx-min-height: 30;
    -fx-padding: 8 12 8 12;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: #CCCCCC;
}


.login-button {
    -fx-background-color: #F9F9F9;
    -fx-text-fill: #5E5E5E;
    -fx-min-width: 120;
    -fx-min-height: 40;
    -fx-padding: 12 18;
    -fx-border-color: #d5d9d9;
    -fx-border-radius: 10;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, 0, 0, 6);
    -fx-transition: all 0.3s ease-in-out;
}

.login-button:hover {
    -fx-text-fill: #1967D2;
    -fx-background-color: #C4DAFE;
    -fx-border-color: #1967D2;
    -fx-border-radius: 10;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.logo {
    -fx-font-family: "Maven Pro", "Segoe UI", sans-serif;
    -fx-font-size: 80;
    -fx-font-weight: bold;
    -fx-text-fill: #0A66C2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.1, 0, 2);
    -fx-letter-spacing: 2px;
}
